<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        margin: 20px;
    }
</style>

</head>
<body>
    <div>
        <h1>Monthly Report - Kanban Board</h1>
        <h2>User - {{ fname }} {{ lname }} </h2>
        
        <br/>

    </div>
    <hr>
    

    <br/>
    <div>
    Total Lists - {{ listCount }}
    <br/>
    Total Cards - {{ cardCount }}
    <br/>
    Total Completed Cards - {{ completedCards }}
    <br/>
    Total Pending Cards - {{ completedCards }}
    </div>
    <br/>
    <br/>
    <br/>
  Please update board if you have done something.



    
</body>
</html>